{#{{ moment.include_moment() }}#}
<html lang="fr">
<head>
    {#    <!-- {{ moment.locale(auto_detect=True) }} -->#}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}

    <title>{% block title %}Your page title{% endblock %}</title>
</head>
<body style="width:100%">

<!-- FLASH -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-container">
      {% for category, message in messages %}
        <div class="flash-bubble {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- FLASH -->


<!-- OVERLAY SI NECESSAIRE -->
<div id="myOverlay" class="overlay d-none d-flex justify-content-center align-items-center">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Chargement...</span>
    </div>
</div>
<!-- OVERLAY SI NECESSAIRE -->


<header class="bg-primary text-white text-center py-2">
    {% block header %}<h1>GYSMO</h1>{% endblock %}
</header>

<div class="container-fluid">
    <div class="row">

        <!-- Menu sur la gauche -->
        <nav class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    {% for name,url in __menu__.items() %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url }}">
                                {{ name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <!-- Zone principale centrale -->
        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <!-- Contenu dynamique de votre page -->
            {% block content %}
                <!-- Your page content -->
            {% endblock %}
        </main>
    </div>
</div>

<footer class="bg-light text-center py-2 sticky-bottom">
    {% block footer %}
        <pre>Page générée à {{ __ts__|format() }} </pre>
    {% endblock %}
</footer>
{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
</body>
</html>